<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="ROF" connectionString="Data Source=prodamsrodb.tradenetworks.ams\rof;Initial Catalog=TradenetWorks;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
      <add key="NewSymbolTempaltesPath" value=".\Data\NewSymbolTemplates.json"/>
      <add key="MonthsCodeMapPath" value=".\Data\MonthCodes.json"/>
      <add key="SqlTemplatePath" value=".\Data\sqlTemplate.sql"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>